name: Mi Primer CI

# ¿Cuándo se activa?
on:
  push:                 # Cuando tú haces push
    branches: [ "main" ]
  pull_request:         # Cuando alguien (o Dependabot) abre un PR
    branches: [ "main" ]

# ¿Qué tareas hace?
jobs:
  probar-codigo:
    runs-on: ubuntu-latest  # GitHub nos presta una máquina virtual Linux gratis

    steps: 

    - name: Ejecutar pruebas
      run: npm test  # Aquí ejecuta el script que modificamos en el Paso 1